<footer class="footer">

  <section class="reproductor-player">
        
  </section>


  <ul class="footer-ul">    
    <li class="footer-li">
      <a class="footer-a" href="/home">
        <div class="footer-icon-wrapper">
          <img class="footer-img" src="/assets/home.png" alt="Home">
        </div>
        <span class="footer-font">Home</span>
      </a>
    </li>
    <li class="footer-li">
      <a class="footer-a" href="/favorites">
        <div class="footer-icon-wrapper">
          <img class="footer-img" src="/assets/favorite.png" alt="Favorites">
        </div>
        <span class="footer-font">Favorites</span>
      </a>
    </li>
  </ul>
</footer>