@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --color-background: #0c0c0c;
  --color-background-secondary: #161616;
  --color-background-tertiary: #4b4b4b;
  --color-background-quaternary: #202020;
  --color-surface: #e9eef2;
  --color-surface-muted: #dfe4e8;
  --color-navbar-footer: #1B1B1B;

  --color-text-primary: #ffffff;
  --color-text-secondary: #e9eef2;
  --color-text-tertiary: #94949b;
  --color-text-inverse: #161616;
  

  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-border: #e5e7eb;
  --color-line:#ffffff12;
  --color-error: #dc2626;
  --color-success: #16a34a;

  --font-sans: 'Poppins', system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;

  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;

  --leading-tight: 1.25;
  --leading-normal: 1.6;  

  --space-xs: 0.25rem;  
  --space-sm: 0.5rem;   
  --space-md: 0.75rem;  
  --space-lg: 1rem;  
  --space-xl: 1.5rem;   
  --space-2xl: 2rem;    
  --space-3xl: 3rem;    
  --space-4xl: 4rem;    

  --radius-sm: .25rem;
  --radius-md: .5rem;
  --radius-lg: .75rem;

  --shadow-sm: 0 .0625rem .125rem rgba(0, 0, 0, 0.06);
  --shadow-md: 0 .25rem .75rem rgba(0, 0, 0, 0.1);
}
