.reproductor-card {  
  padding: 0.75rem 1.5rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 0.75rem;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;      
  background-color: var(--color-navbar-footer);    
  border-top: 0.0625rem solid var(--color-background-secondary);
  z-index: 100;
  border-bottom: 0.0938rem solid rgba(255, 255, 255, 0.1);   
}

.reproductor-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
}

#song-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: #f8f8f2;  
  text-align: center; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

#audioFile {
  display: none; 
}

#audio1 {
  display: block;
  width: 100%;
  max-width: 31.25rem;
  height: 2rem;
  border-radius: 0.5rem;
}