.reproductor-card {  
  padding: 12px 24px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 12px;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;      
  background-color: var(--color-navbar-footer);    
  border-top: 1px solid var(--color-background-secondary);
  z-index: 100;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);   
}

.reproductor-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

#song-title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  color: #f8f8f2;  
  text-align: center; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

#audioFile {
  display: none; 
}

#audio1 {
  flex: 2;
  max-width: 500px;
  height: 32px;
  border-radius: 8px;
}